[submodule "start_ak/plenary.nvim"]
	path = pack/start_ak/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
  ignore = untracked
[submodule "colors_ak/colors_tokyonight"]
	path = pack/colors_ak/opt/colors_tokyonight
	url = https://github.com/folke/tokyonight.nvim
  ignore = untracked
[submodule "coding_ak/nvim-autopairs"]
	path = pack/coding_ak/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
  ignore = untracked
[submodule "coding_ak/Comment.nvim"]
	path = pack/coding_ak/opt/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
  ignore = untracked
[submodule "coding_ak/dial.nvim"]
	path = pack/coding_ak/opt/dial.nvim
	url = https://github.com/monaqa/dial.nvim
  ignore = untracked
[submodule "coding_ak/friendly-snippets"]
	path = pack/coding_ak/opt/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
  ignore = untracked
[submodule "coding_ak/LuaSnip"]
	path = pack/coding_ak/opt/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
  ignore = untracked
[submodule "coding_ak/substitute.nvim"]
	path = pack/coding_ak/opt/substitute.nvim
	url = https://github.com/gbprod/substitute.nvim
  ignore = untracked
[submodule "coding_ak/nvim-surround"]
	path = pack/coding_ak/opt/nvim-surround
	url = https://github.com/kylechui/nvim-surround
  ignore = untracked
[submodule "coding_ak/cmp-buffer"]
	path = pack/coding_ak/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
  ignore = untracked
[submodule "coding_ak/cmp-path"]
	path = pack/coding_ak/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
  ignore = untracked
[submodule "coding_ak/cmp_luasnip"]
	path = pack/coding_ak/opt/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
  ignore = untracked
[submodule "coding_ak/cmp-nvim-lsp"]
	path = pack/coding_ak/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
  ignore = untracked
[submodule "coding_ak/nvim-cmp"]
	path = pack/coding_ak/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
  ignore = untracked
[submodule "coding_ak/comment-box.nvim"]
	path = pack/coding_ak/opt/comment-box.nvim
	url = https://github.com/LudoPinelli/comment-box.nvim
  ignore = untracked
[submodule "coding_ak/nvim-ts-context-commentstring"]
	path = pack/coding_ak/opt/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring
  ignore = untracked
[submodule "editor_ak/harpoon"]
	path = pack/editor_ak/opt/harpoon
	url = https://github.com/ThePrimeagen/harpoon
  ignore = untracked
[submodule "editor_ak/eyeliner.nvim"]
	path = pack/editor_ak/opt/eyeliner.nvim
	url = https://github.com/jinh0/eyeliner.nvim
  ignore = untracked
[submodule "editor_ak/flash.nvim"]
	path = pack/editor_ak/opt/flash.nvim
	url = https://github.com/folke/flash.nvim
  ignore = untracked
[submodule "editor_ak/telescope-fzf-native.nvim"]
	path = pack/editor_ak/opt/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
  ignore = untracked
[submodule "editor_ak/gitsigns.nvim"]
	path = pack/editor_ak/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
  ignore = untracked
[submodule "editor_ak/vim-illuminate"]
	path = pack/editor_ak/opt/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate
  ignore = untracked
[submodule "editor_ak/todo-comments.nvim"]
	path = pack/editor_ak/opt/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim
  ignore = untracked
[submodule "editor_ak/trouble.nvim"]
	path = pack/editor_ak/opt/trouble.nvim
	url = https://github.com/folke/trouble.nvim
  ignore = untracked
[submodule "editor_ak/git-blame.nvim"]
	path = pack/editor_ak/opt/git-blame.nvim
	url = https://github.com/f-person/git-blame.nvim
  ignore = untracked
[submodule "editor_ak/vim-hardtime"]
	path = pack/editor_ak/opt/vim-hardtime
	url = https://github.com/takac/vim-hardtime
  ignore = untracked
[submodule "editor_ak/mini.clue"]
	path = pack/editor_ak/opt/mini.clue
	url = https://github.com/echasnovski/mini.clue
  ignore = untracked
[submodule "editor_ak/toggleterm.nvim"]
	path = pack/editor_ak/opt/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim
  ignore = untracked
[submodule "editor_ak/nvim-web-devicons"]
	path = pack/editor_ak/opt/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
  ignore = untracked
[submodule "editor_ak/oil.nvim"]
	path = pack/editor_ak/opt/oil.nvim
	url = https://github.com/stevearc/oil.nvim
  ignore = untracked
[submodule "editor_ak/nvim-spectre"]
	path = pack/editor_ak/opt/nvim-spectre
	url = https://github.com/nvim-pack/nvim-spectre
  ignore = dirty
[submodule "editor_ak/telescope-alternate.nvim"]
	path = pack/editor_ak/opt/telescope-alternate.nvim
	url = https://github.com/otavioschwanck/telescope-alternate.nvim
  ignore = untracked
[submodule "editor_ak/aerial.nvim"]
	path = pack/editor_ak/opt/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim
  ignore = untracked
[submodule "editor_ak/telescope.nvim"]
	path = pack/editor_ak/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
  ignore = untracked
[submodule "treesitter_ak/nvim-ts-autotag"]
	path = pack/treesitter_ak/opt/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag
  ignore = untracked
[submodule "treesitter_ak/nvim-treesitter-context"]
	path = pack/treesitter_ak/opt/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
  ignore = untracked
[submodule "treesitter_ak/nvim-treesitter-textobjects"]
	path = pack/treesitter_ak/opt/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
  ignore = untracked
[submodule "treesitter_ak/nvim-treesitter"]
	path = pack/treesitter_ak/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
  ignore = untracked
[submodule "ui_ak/dashboard-nvim"]
	path = pack/ui_ak/opt/dashboard-nvim
	url = https://github.com/nvimdev/dashboard-nvim
  ignore = untracked
[submodule "ui_ak/dressing.nvim"]
	path = pack/ui_ak/opt/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim
  ignore = untracked
[submodule "ui_ak/indent-blankline.nvim"]
	path = pack/ui_ak/opt/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
  ignore = untracked
[submodule "ui_ak/lualine.nvim"]
	path = pack/ui_ak/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
  ignore = untracked
[submodule "util_ak/vim-startuptime"]
	path = pack/util_ak/opt/vim-startuptime
	url = https://github.com/dstein64/vim-startuptime
  ignore = untracked
[submodule "util_ak/vim-slime"]
	path = pack/util_ak/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime
  ignore = untracked
[submodule "util_ak/persistence.nvim"]
	path = pack/util_ak/opt/persistence.nvim
	url = https://github.com/folke/persistence.nvim
  ignore = untracked
[submodule "colors_ak/colors_catppuccin"]
	path = pack/colors_ak/opt/colors_catppuccin
	url = https://github.com/catppuccin/nvim
  ignore = untracked
[submodule "colors_ak/colors_nightfox"]
	path = pack/colors_ak/opt/colors_nightfox
	url = https://github.com/EdenEast/nightfox.nvim
  ignore = untracked
[submodule "colors_ak/colors_rose-pine"]
	path = pack/colors_ak/opt/colors_rose-pine
	url = https://github.com/rose-pine/neovim
  ignore = untracked
[submodule "colors_ak/colors_onedark"]
	path = pack/colors_ak/opt/colors_onedark
	url = https://github.com/navarasu/onedark.nvim
  ignore = untracked
[submodule "colors_ak/colors_gruvbox"]
	path = pack/colors_ak/opt/colors_gruvbox
	url = https://github.com/ellisonleao/gruvbox.nvim
  ignore = untracked
[submodule "colors_ak/colors_solarized8"]
	path = pack/colors_ak/opt/colors_solarized8
	url = https://github.com/lifepillar/vim-solarized8
  branch = neovim
  ignore = untracked
[submodule "colors_ak/colors_solarized-osaka"]
	path = pack/colors_ak/opt/colors_solarized-osaka
	url = https://github.com/craftzdog/solarized-osaka.nvim
  ignore = untracked
[submodule "colors_ak/colors_nano-theme"]
	path = pack/colors_ak/opt/colors_nano-theme
	url = https://github.com/ronisbr/nano-theme.nvim
  ignore = untracked
[submodule "colors_ak/colors_sonokai"]
	path = pack/colors_ak/opt/colors_sonokai
	url = https://github.com/sainnhe/sonokai
  ignore = untracked
[submodule "colors_ak/colors_monokai-pro"]
	path = pack/colors_ak/opt/colors_monokai-pro
	url = https://github.com/loctvl842/monokai-pro.nvim
  ignore = untracked
[submodule "colors_ak/colors_everforest"]
	path = pack/colors_ak/opt/colors_everforest
	url = https://github.com/sainnhe/everforest
  ignore = untracked
[submodule "colors_ak/colors_gruvbox-material"]
	path = pack/colors_ak/opt/colors_gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material
  ignore = untracked
[submodule "colors_ak/colors_bamboo"]
	path = pack/colors_ak/opt/colors_bamboo
	url = https://github.com/ribru17/bamboo.nvim
  ignore = untracked
[submodule "colors_ak/colors_melange"]
	path = pack/colors_ak/opt/colors_melange
	url = https://github.com/savq/melange-nvim
  ignore = untracked
[submodule "colors_ak/colors_kanagawa"]
	path = pack/colors_ak/opt/colors_kanagawa
	url = https://github.com/rebelot/kanagawa.nvim
  ignore = untracked
[submodule "colors_ak/colors_ayu"]
	path = pack/colors_ak/opt/colors_ayu
	url = https://github.com/Shatur/neovim-ayu
  ignore = untracked
[submodule "colors_ak/colors_edge"]
	path = pack/colors_ak/opt/colors_edge
	url = https://github.com/sainnhe/edge
  ignore = untracked
[submodule "colors_ak/colors_leaf"]
	path = pack/colors_ak/opt/colors_leaf
	url = https://github.com/daschw/leaf.nvim
  ignore = untracked
[submodule "colors_ak/colors_astrotheme"]
	path = pack/colors_ak/opt/colors_astrotheme
	url = https://github.com/AstroNvim/astrotheme
  ignore = untracked
[submodule "lang_ak/neoconf.nvim"]
	path = pack/lang_ak/opt/neoconf.nvim
	url = https://github.com/folke/neoconf.nvim
  ignore = untracked
[submodule "lang_ak/neodev.nvim"]
	path = pack/lang_ak/opt/neodev.nvim
	url = https://github.com/folke/neodev.nvim
  ignore = untracked
[submodule "lang_ak/mason.nvim"]
	path = pack/lang_ak/opt/mason.nvim
	url = https://github.com/williamboman/mason.nvim
  ignore = untracked
[submodule "lang_ak/mason-lspconfig.nvim"]
	path = pack/lang_ak/opt/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
  ignore = untracked
[submodule "lang_ak/nvim-lspconfig"]
	path = pack/lang_ak/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
  ignore = untracked
[submodule "lang_ak/fidget.nvim"]
	path = pack/lang_ak/opt/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
  ignore = untracked
[submodule "lang_ak/SchemaStore.nvim"]
	path = pack/lang_ak/opt/SchemaStore.nvim
	url = https://github.com/b0o/SchemaStore.nvim
  ignore = untracked
[submodule "lang_ak/conform.nvim"]
	path = pack/lang_ak/opt/conform.nvim
	url = https://github.com/stevearc/conform.nvim
  ignore = untracked
[submodule "lang_ak/nvim-lint"]
	path = pack/lang_ak/opt/nvim-lint
	url = https://github.com/mfussenegger/nvim-lint
  ignore = untracked
[submodule "lang_ak/neotest-python"]
	path = pack/lang_ak/opt/neotest-python
	url = https://github.com/nvim-neotest/neotest-python
  ignore = untracked
[submodule "lang_ak/neotest"]
	path = pack/lang_ak/opt/neotest
	url = https://github.com/nvim-neotest/neotest
  ignore = untracked
[submodule "lang_ak/nvim-dap-ui"]
	path = pack/lang_ak/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
  ignore = untracked
[submodule "lang_ak/nvim-dap-virtual-text"]
	path = pack/lang_ak/opt/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
  ignore = untracked
[submodule "lang_ak/mason-nvim-dap.nvim"]
	path = pack/lang_ak/opt/mason-nvim-dap.nvim
	url = https://github.com/jay-babu/mason-nvim-dap.nvim
  ignore = untracked
[submodule "lang_ak/nvim-dap-python"]
	path = pack/lang_ak/opt/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
  ignore = untracked
[submodule "lang_ak/nvim-dap"]
	path = pack/lang_ak/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
  ignore = untracked
[submodule "lang_ak/peek.nvim"]
	path = pack/lang_ak/opt/peek.nvim
	url = https://github.com/toppair/peek.nvim
  ignore = untracked
[submodule "lang_ak/markdown-preview.nvim"]
	path = pack/lang_ak/opt/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
  ignore = untracked
[submodule "lang_ak/headlines.nvim"]
	path = pack/lang_ak/opt/headlines.nvim
	url = https://github.com/lukas-reineke/headlines.nvim
  ignore = untracked
[submodule "lang_ak/venv-selector.nvim"]
	path = pack/lang_ak/opt/venv-selector.nvim
	url = https://github.com/linux-cultist/venv-selector.nvim
	ignore = untracked
[submodule "lang_ak/vim-dadbod"]
	path = pack/lang_ak/opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
	ignore = untracked
[submodule "lang_ak/vim-dadbod-completion"]
	path = pack/lang_ak/opt/vim-dadbod-completion
	url = https://github.com/kristijanhusak/vim-dadbod-completion
	ignore = untracked
